.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  z-index: 1;
}

.navbar-container-black {
  background: #0e0e10;
}
